.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .text-container {
    width: 50%;
    .title {
      font-size: 4em;
      margin-bottom: 20px;
    }

    .subtitle {
      word-wrap: break-word;
    }
  }
}
