<div class="container">
  <div class="overall-container">
    <h1 class="title">Seu Podcast está assim:</h1>
    <mat-progress-bar
      mode="determinate"
      [value]="overall"
      [color]="changeColor()"
    ></mat-progress-bar>
    <br />

    <h3>{{ overall }}/100</h3>
  </div>

  <div class="rev-container">
    <div>
      <app-progress-component
        [overall]="45"
        metric="Barulho de Fundo"
      ></app-progress-component>
    </div>
    <div>
      <app-progress-component
        [overall]="77"
        metric="Música/Edição"
      ></app-progress-component>
    </div>
    <div>
      <app-progress-component
        [overall]="98"
        metric="Comunicação"
      ></app-progress-component>
    </div>
  </div>
</div>
